#header-name {
  background: radial-gradient(
    at right bottom,
    rgba(0, 0, 0),
    rgba(160, 159, 160, 0.8),
    rgb(71, 85, 105)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ffff, 0 0 20px #0000, 0 0 30px #0000, 0 0 40px #0000,
      0 0 50px #0000, 0 0 30px #ffff, 0 0 70px #0000;
  }
  to {
    text-shadow: 0 0 20px #0000, 0 0 30px #ffff, 0 0 40px #0000,
      0 0 50px #ffff 0 0 30px #0000, 0 0 70px #0000, 0 0 55 #0000;
  }
}
